* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
    height: 100px;
    background-color: orange;
}



.area,
.area1,
.area2 {
    text-align: center;
    width: 500px;
    height: 250px;
    border: 2px solid black;
    background-color: bisque;
}